* @cyberark/conjur-core-team @conjurinc/conjur-core-team @conjurdemos/conjur-core-team @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech

# Changes to .trivyignore require Security Architect approval
.trivyignore @cyberark/security-architects @conjurinc/security-architects @conjurdemos/security-architects  @conjur-enterprise/conjur-security

# Changes to .codeclimate.yml require Quality Architect approval
.codeclimate.yml @cyberark/quality-architects @conjurinc/quality-architects @conjurdemos/quality-architects @conjur-enterprise/conjur-quality

*.md @conjur-enterprise/r-d-developers @conjur-enterprise/transition-tech

# Changes to SECURITY.md require Security Architect approval
SECURITY.md @cyberark/security-architects @conjurinc/security-architects @conjurdemos/security-architects @conjur-enterprise/conjur-security

# Add SaaS Authenticator team as partial owners of authenticator implementations and APIs
dev/ @conjur-enterprise/saasy @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech
config/ @conjur-enterprise/saasy @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech
**/authentication/ @conjur-enterprise/saasy @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech
**/authenticate_controller*.rb @conjur-enterprise/saasy @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech
**/authenticators_v2/ @conjur-enterprise/saasy @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech
**/repository/ @conjur-enterprise/saasy @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech
ci/ @conjur-enterprise/saasy @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech
cucumber/ @conjur-enterprise/saasy @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations @conjur-enterprise/transition-tech
